<% if @projects.first %>
    <%if @user.admin%>
        <h1>Projects</h1>
        <hr>
    <%else%>
        <h1>You rojects</h1>
        <hr>
    <% end -%>
<%else%>
<h1>No projects</h1>
  <% if @user.admin%>
    <p>You can be created it`s</p>
  <%else%>
    <p>You can`t be created it`s</p>
  <% end -%>
<% end -%>

<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
          <div class="col-lg-3">
            <div class="well">
              <div class="card my-4">
                <div class="card-header" >
              <h3 class="mb-0 text-center"><%= link_to "#{project.uid}", project_path(project.uid) %></h3>
              </div>
              <div class="card-body">
              <h1 class="card-text"><%= project.project_name %></h1>

            </div>
          </div>
          
     </div>  
</div>
<% end %>
</div>
</div>
<hr>
<%= button_to 'New Project', new_user_project_path(@user, @project), method: :get, class: "btn btn-primary my-2" if @user.admin%>