<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<hr>
<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
          <div class="col-lg-3">
            <div class="well"> 
              <h3 class="text-center"><%= link_to "#{project.uid}", project_path(project.uid) %></h3>
              <h1 class="text-center"><%= project.project_name %></h1>
            </div>
          </div>
          <% end %>
     </div>  
</div>
<hr>

<%= link_to 'New Project', new_user_project_path(@user, @project) %>