
<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @project.tasks %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
